/* Copyright 2010-2011 Research In Motion Limited.
 * 
 * Licensed under the Apache License, Version 2.0 (the "License");
 * you may not use this file except in compliance with the License.
 * You may obtain a copy of the License at
 * 
 * http://www.apache.org/licenses/LICENSE-2.0
 * 
 * Unless required by applicable law or agreed to in writing, software
 * distributed under the License is distributed on an "AS IS" BASIS,
 * WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
 * See the License for the specific language governing permissions and
 * limitations under the License.
 */

/*
*    Modifications made by Peter Newhook also distributed under the Apache License, Version 2.0
*/

* {
    box-sizing: border-box;
    border: 2px solid;
}

html, body {
    margin: 0;
    padding: 0;
    height: 100%;
}

.stage {
    height: 100%;
    position: relative;
    /*overflow: hidden;*/
    transform: translateZ(0);
}

#main {
    height: 100%;
    position: relative;
    overflow: hidden;
    backface-visibility: hidden;
    /*animation: dummy-loop 1s infinite;*/
    transform: translateZ(0);
}

.daystate {
    height: 100%;
    width: 100%;
    background-size: 100% auto;
    opacity: 0;
    position: absolute;
    top: 0;
    left: 0;
    background-repeat: no-repeat;
    background-position: center center;
    animation-fill-mode: forwards;
    animation-duration: 1.5s;
    animation-iteration-count: 1;
    transform: translateZ(0);
}


#night {
background: #151f29; /* Old browsers */
background: -moz-linear-gradient(top,  #151f29 0%, #050608 100%, #585465 100%, #050608 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#151f29), color-stop(100%,#050608), color-stop(100%,#585465), color-stop(100%,#050608)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  #151f29 0%,#050608 100%,#585465 100%,#050608 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  #151f29 0%,#050608 100%,#585465 100%,#050608 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  #151f29 0%,#050608 100%,#585465 100%,#050608 100%); /* IE10+ */
background: linear-gradient(to bottom,  #151f29 0%,#050608 100%,#585465 100%,#050608 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#151f29', endColorstr='#050608',GradientType=0 ); /* IE6-9 */
}

#early_dusk, #late_dawn {
background: #51b4d1; /* Old browsers */
background: -moz-linear-gradient(top,  #51b4d1 0%, #d2e5ec 60%, #e693a7 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#51b4d1), color-stop(60%,#d2e5ec), color-stop(100%,#e693a7)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  #51b4d1 0%,#d2e5ec 60%,#e693a7 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  #51b4d1 0%,#d2e5ec 60%,#e693a7 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  #51b4d1 0%,#d2e5ec 60%,#e693a7 100%); /* IE10+ */
background: linear-gradient(to bottom,  #51b4d1 0%,#d2e5ec 60%,#e693a7 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#51b4d1', endColorstr='#e693a7',GradientType=0 ); /* IE6-9 */
}

#dusk, #dusk {
background: #162029; /* Old browsers */
background: -moz-linear-gradient(top,  #162029 0%, #615966 60%, #be696e 100%, #585465 100%, #be696e 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#162029), color-stop(60%,#615966), color-stop(100%,#be696e), color-stop(100%,#585465), color-stop(100%,#be696e)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  #162029 0%,#615966 60%,#be696e 100%,#585465 100%,#be696e 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  #162029 0%,#615966 60%,#be696e 100%,#585465 100%,#be696e 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  #162029 0%,#615966 60%,#be696e 100%,#585465 100%,#be696e 100%); /* IE10+ */
background: linear-gradient(to bottom,  #162029 0%,#615966 60%,#be696e 100%,#585465 100%,#be696e 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#162029', endColorstr='#be696e',GradientType=0 ); /* IE6-9 */
}

#day {
    background: #458eae; /* Old browsers */
background: -moz-linear-gradient(top,  #458eae 0%, #8fc9e1 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#458eae), color-stop(100%,#8fc9e1)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  #458eae 0%,#8fc9e1 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  #458eae 0%,#8fc9e1 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  #458eae 0%,#8fc9e1 100%); /* IE10+ */
background: linear-gradient(to bottom,  #458eae 0%,#8fc9e1 100%); /* W3C */
/*filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#458eae', endColorstr='#8fc9e1',GradientType=0 );*/ /* IE6-9 */

}

.celestial_body {
    position: absolute;
    /*centered at the bottom of the page*/
    bottom: 0;
    left: 50%;
    height: 65%;
    /*centre bottom of element*/
    transform-origin: 50% 100%;
    -webkit-transform-origin: 50% 100%;
    transform: rotate(-82deg);
    backface-visibility: hidden;
}

#data {
    font-family: "Arial Black", Arial;
    font-size: 250px;
    font-weight: 900;
    color: #fff;
    letter-spacing: -40px;
    text-shadow: 2px 2px 2px #000;
    position: absolute;
    text-align: center;
    bottom: 0;
    left: 45%;
    padding-bottom: 80px;
    z-index: 3;
}

#city {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 50%;
    background-image: url('../img/city_day_OSVG.svg');
    background-size: 100% auto;
    background-position: bottom;
    background-repeat: no-repeat;
    backface-visibility: hidden;
    z-index: 1;
}

#cityshadow {
    background-image: url('../img/city_shadow.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: 80% auto;
    width: 817px;
    height: 104px;
    position: absolute;
    bottom: 5%;
    z-index: 2;
}

.cityshadowshow {
    opacity: 0.15;
}

.cityshadowhide {
    opacity: 0.03;
}

#citylights {
    display: block;
    width: 1024px;
    height: 268px;
    position: absolute;
    bottom: 0;
    left: 0;
    background-image: url('../img/city_lights_night_SVG.svg');
}

#roadsign {
    z-index: 800;
    position: absolute;
    bottom: 18px;
    right: 35px;
    background-image: url('../img/road_sign_day.png');
    width: 166px;
    height: 208px;
}

    #roadsign #dayString {
        position: absolute;
        font-family: sans-serif;
        font-size: 17px;
        top: 55px;
        left: 57px;
        margin-top: 1px;
        width: 106px;
        height: 20px;
        transform: rotate(1.6deg) translateZ(0);
        text-align: center;
    }

    #roadsign #time {
        position: absolute;
        font-family: sans-serif;
        font-size: 26px;
        color: #222;
        top: 6px;
        left: 54px;
        margin-top: 2px;
        width: 106px;
        height: 20px;
        transform: rotate(5.3deg) translateZ(0);
        text-align: center;
    }

/*@keyframes dummy-loop {
    from {
        transform: scale(1.0);
    }

    to {
        transform: scale(1.0);
    }
}*/

@keyframes slide-up {
    from {
        bottom: -268px;
    }

    to {
        bottom: 0;
    }
}

@keyframes slide-up2 {
    from {
        bottom: -168px;
    }

    to {
        bottom: 0;
    }
}

@keyframes fade_in {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}


@keyframes fast_forward_rotation {
    0% {
        transform: rotate(-80deg);
    }

    100% {
        transform: rotate(80deg);
    }
}

.fast_forward {
    animation: fast_forward_rotation 1.3s infinite linear;
}

@media screen and (-ms-view-state: fullscreen-landscape) {
}

@media screen and (-ms-view-state: filled) {
}

@media screen and (-ms-view-state: snapped) {
}

@media screen and (-ms-view-state: fullscreen-portrait) {
}
